<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" charset="utf-8">
    <title>Rowdy Story</title>
    <style>
        section {
            margin-top: 120px;
        }
    </style>
</head>
<body>
    <div th:replace="common/header :: header"></div>

    <section class="container section">
        <div class="row">
            <div class="col-12">
                <div class="text-center">
                    <h2>소셜 로그인</h2>
                    <a href="javascript:;" class="btn_social" data-social="google"><img th:src="@{/images/google.png}" width="40px" height="40px"/></a>
                    <a href="javascript:;" class="btn_social" data-social="facebook"><img th:src="@{/images/facebook.png}" width="40px" height="40px"/></a>
                    <a href="javascript:;" class="btn_social" data-social="kakao"><img th:src="@{/images/kakao.png}" width="40px" height="40px"/></a>
                    <a href="javascript:;" class="btn_social" data-social="naver"><img th:src="@{/images/naver.png}" width="40px" height="40px"/></a>
                </div>
            </div>
        </div>
    </section>

    <div th:replace="common/footer :: footer"></div>
    <script th:src="@{/custom/js/account/login.js}"></script>

</body>
</html>