<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<footer class="footer" th:fragment="bodyFooter">
    <div class="container-fluid bg-dark">
        <div class="row">
            <div class="col-lg-12 text-white-50">
                <p class="text-center font-weight-bolder mt-5">
                    Email : hjm7091@naver.com <br>
                    Github : <a class="text-decoration-none" href="https://github.com/hjm7091/Project_Toy/tree/main/RowdyStory">link</a> <br>
                    <br>
                </p>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
<!--    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>-->
<!--    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>-->
<!--    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>-->
    <script th:src="@{/jquery/jquery-3.5.1.min.js}"></script>
    <script th:src="@{/bootstrap-4.5.3/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/custom/js/common/popOverEvent.js}"></script>
    <script th:src="@{/custom/js/common/scrollEvent.js}"></script>
    <script th:src="@{/custom/js/common/network.js}"></script>
    <script th:src="@{/custom/js/common/api.js}"></script>
    <script th:src="@{/custom/js/common/util.js}"></script>
</footer>